<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="favicon" href="/folder.svg" />
        <link rel="stylesheet" href="/styles/index.css" />
        <title>File Uploader</title>
    </head>
    <script>
        window.onclick = (e) => {
            const folderModal = document.getElementById("folderModal");
            const fileModal = document.getElementById("fileModal");

            if (e.target === folderModal) {
                folderModal.style.display = "none";
            }
            if (e.target === fileModal) {
                fileModal.style.display = "none";
            }
        };
    </script>
    <body>
        <%- include("./partials/homenavbar.ejs") %>
        <main>
            <aside>
                <div class="buttons">
                    <button
                        class="newfolder"
                        onclick="document.getElementById('folderModal').style.display = 'flex'">
                        <img
                            src="/add-folder.png"
                            style="width: 20px; height: 20px" />
                        <span>New Folder</span>
                    </button>
                    <button
                        class="newfile"
                        onclick="document.getElementById('fileModal').style.display = 'flex'">
                        <img
                            src="/new-file.png"
                            style="width: 20px; height: 20px" />
                        <span>New File</span>
                    </button>
                    <% if (parentId!=null){%>
                    <form action="/delete/<%-parentId%>" method="post">
                        <input
                            type="hidden"
                            name="path"
                            value="<%= path.join('/') %>" />
                        <button class="newfolder" type="submit">
                            <img
                                src="/bin.png"
                                style="width: 20px; height: 20px" />
                            <span>Delete Folder</span>
                        </button>
                    </form>
                    <%}%>
                </div>
            </aside>
            <div class="center">
                <!-- Folder Modal -->
                <div id="folderModal" class="modal">
                    <div class="modal-content">
                        <h2>Create New Folder</h2>
                        <form
                            action="/create-folder"
                            method="POST"
                            class="foldermodal">
                            <div class="label">
                                <label for="foldername">Name</label>
                            </div>
                            <input
                                type="text"
                                name="folderName"
                                placeholder="Folder name"
                                required />
                            <input
                                type="hidden"
                                name="path"
                                value="<%= path.join('/') %>" />
                            <input
                                type="hidden"
                                name="parentId"
                                value="<%= parentId %>" />
                            <div class="createbutton">
                                <button type="submit">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="fileModal" class="modal">
                    <div class="modal-content">
                        <h2>Create New Folder</h2>
                        <form action="/upload" method="POST" class="filemodal">
                            <input type="file" name="filename" required />
                            <input
                                type="hidden"
                                name="path"
                                value="<%= path.join('/') %>" />
                            <input
                                type="hidden"
                                name="parentId"
                                value="<%= parentId %>" />
                            <div class="createbutton">
                                <button type="submit">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>

                <% if (content.length === 0) { %>
                <p class="empty-msg">This folder is empty.</p>
                <% } else { %>
                <div class="content-grid">
                    <% content.forEach(item => { %>
                    <div class="item">
                        <% if (item.isFolder) { %>
                        <a href="/folders/<%= [...path, item.id].join('/') %>">
                            <img src="/folder.svg" alt="Folder" class="icon" />
                            <p><%= item.name %></p>
                        </a>
                        <% } else { %>
                        <a href="<%= item.url %>" target="_blank">
                            <img src="/file-icon.png" alt="File" class="icon" />
                            <p><%= item.name %></p>
                        </a>
                        <% } %>
                    </div>
                    <% }); %>
                </div>
                <% } %>
            </div>
        </main>
    </body>
</html>
